.stack_container {
  position: absolute;
  padding: 10px 22px;
  left: calc(12% - 50px);
  border-radius: 30px;
  width: 745px;
  bottom: -360px;
  height: 350px;
  background: #404040a1;
  box-shadow: 4px 4px 20px 0 #00000040;
  animation: stack_list_appear 3s 2s ease forwards;

  .stack_header {
    display: flex;
    align-items: baseline;
    gap: 10px;

    span {
      width: 17px;
      height: 17px;
      border-radius: 10px;
    }

    span,
    p {
      margin-left: -10px;
      opacity: 0;
      animation: skills_header_appear 0.5s ease forwards;
    }

    .red {
      background: #ff3b30;
      animation-delay: 3.1s;
    }
    .yellow {
      background: #ffcc00;
      animation-delay: 3.2s;
    }
    .green {
      background: #4cd964;
      animation-delay: 3.3s;
    }

    p {
      font-size: 26px;
      color: #a3a3a3;
      animation-delay: 3.6s;
      padding-left: 10px;
    }
  }

  .skills {
    display: grid;
    grid-template-areas:
      "nextjs nextjs react js ts"
      "sass git redux html css";
    align-items: center;
    justify-items: center;

    img {
      opacity: 0%;
      margin-top: 100px;
      animation: logo_appear 1s 4s ease-out forwards;
    }
  }
}

@keyframes logo_appear {
  to {
    opacity: 100%;
    margin-top: 0;
  }
}

@keyframes skills_header_appear {
  to {
    opacity: 100%;
    margin-left: 0;
  }
}

@keyframes stack_list_appear {
  60% {
    bottom: -20px;
  }

  to {
    bottom: -50px;
  }
}

@media (max-width: 1000px) {
  .stack_container {
    width: 340px;
    top: 220px;
    z-index: 101;
    height: 610px;
    background-color: #383838c0;
    transform: scale(0.6);
    left: calc(100dvw - 40px);
    padding-right: 50px;

    .skills {
      margin-top: 20px;
      gap: 5px;
      justify-content: center;
      grid-template-areas: "next next" "react redux" "js ts" "sass git" "html css";
    }
  }

  @keyframes stack_list_appear {
    60% {
      left: 150px;
    }

    to {
      left: 170px;
    }
  }
}
