.chip {
  padding: 7px 24px;
  border-radius: 50px;
  border: 1px solid transparent;

  p {
    font-family: Fira Code, sans-serif;
    overflow: hidden;
    white-space: nowrap;
    font-size: 40px;
  }
}

@keyframes cursor {
  0% {
    border-right: 3px solid transparent;
  }
  50% {
    border-color: white;
  }
  99% {
    border-right: 3px solid transparent;
  }
  100% {
    border-color: transparent;
    border: none;
  }
}

@keyframes printed_text {
  from {
    width: 0;
  }
}

@keyframes show_border {
  from {
    border-color: transparent;
  }
  to {
    border-color: white;
  }
}

@media (max-width: 1000px) {
  .chip {
    padding: 2px 10px;

    .chip_text {
      font-size: 25px;
    }
  }
}
