* {
  scroll-behavior: smooth;
}

.App {
  height: 2000px;

  #main_screen {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 35px 5%;
    overflow: hidden;
    background: #000;

    .main_text {
      position: absolute;
      top: calc(100dvh / 2 - 100px);
      left: calc(1% - 50px);
      translate: 0% -50%;
      opacity: 0;
      transition: ease-out 0.2s;
      z-index: 100;
      animation: main_text_appear 2s 3s ease forwards;

      h1 {
        font-size: 120px;
        font-weight: normal;
        line-height: 110px;
      }

      .subtext_wrapper {
        display: flex;
        align-items: end;
        gap: 133px;

        .subtext {
          font-size: 66px;
          line-height: 87px;
        }
      }
    }

    .me_photo {
      position: absolute;
      right: calc(40% - 500px);
      width: 500px;
      border-radius: 30px;
      opacity: 0;
      top: 0px;
      animation: photo_appear 1s 2.8s ease-out forwards;
    }
  }

  .bgshadow {
    position: absolute;
    z-index: 10;
    opacity: 70%;
    translate: 50% 50%;
  }

  .bgshadow.red {
    top: 80%;
    left: 70%;
    box-shadow: 0 0 10px 0px red;
    animation: bgred_appear 6s ease forwards;
  }

  .bgshadow.blue {
    top: 20%;
    left: 30%;
    box-shadow: 0 0 10px 0px blue;
    animation: bgblue_appear 7s ease forwards;
  }
}

@keyframes bgred_appear {
  30% {
    opacity: 60%;
  }

  to {
    opacity: 35%;
    box-shadow: 0 0 1200px 500px red;
  }
}

@keyframes bgblue_appear {
  50% {
    opacity: 70%;
  }

  to {
    opacity: 35%;
    box-shadow: 0 0 1200px 400px blue;
  }
}

@keyframes main_text_appear {
  60% {
    opacity: 100%;
  }

  to {
    opacity: 100%;
    left: calc(12% - 50px);
  }
}

@keyframes photo_appear {
  60% {
    opacity: 100%;
  }

  to {
    top: 100px;
    opacity: 100%;
  }
}

@media (max-width: 1000px) {
  .App {
    .main_screen {
      padding: 10px 20px;

      .main_text {
        top: 150px;

        h1 {
          font-size: 50px;
          line-height: normal;
        }

        .subtext_wrapper {
          gap: 20px;
          align-items: center;

          .subtext {
            font-size: 30px;
            line-height: 50px;
          }
        }
      }

      .me_photo {
        width: 250px;
        top: 220px;
        left: -180px;
        border-radius: 10px;
      }
    }
  }

  @keyframes main_text_appear {
    60% {
      opacity: 100%;
    }

    to {
      opacity: 100%;
      left: 20px;
    }
  }

  @keyframes photo_appear {
    60% {
      opacity: 100%;
      left: -20px;
    }

    to {
      left: -30px;
      opacity: 100%;
    }
  }

  @keyframes bgred_appear {
    30% {
      opacity: 60%;
      box-shadow: 0 0 400px 170px red;
    }

    to {
      opacity: 35%;
      box-shadow: 0 0 400px 240px red;
    }
  }

  @keyframes bgblue_appear {
    50% {
      opacity: 70%;
      box-shadow: 0 0 400px 150px blue;
    }

    to {
      opacity: 35%;
      box-shadow: 0 0 500px 200px blue;
    }
  }
}
