* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("../src/fonts/SourceCodePro-Regular.woff2") format("woff2"),
    url("../src/fonts/SourceCodePro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("../src/fonts/SourceCodePro-Medium.woff2") format("woff2"),
    url("../src/fonts/SourceCodePro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Encode Sans, sans-serif;
  color: white;
}

.stack_container,
.me_photo,
.main_text,
.stack_container,
.site_label {
  z-index: 100;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
