* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Encode Sans, sans-serif;
  color: white;
}

.stack_container,
.me_photo,
.main_text,
.stack_container,
.site_label {
  z-index: 100;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
